.contagion {
  background: #fdfdfd;
}

.contagion__heading {
  margin-top: 12.5rem;
  margin-left: 15rem;
  margin-bottom: 5rem;
}

.contagion__h3,
.contagion__h1,
.contagion__p {
  text-align: center;
}

.contagion__h3 {
  color: #fa5652;
  font-weight: 900;
  font-style: normal;
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

.contagion__h1 {
  text-transform: capitalize;
  font-style: normal;
  font-size: 3.5rem;
  color: #035755;
  font-weight: bold;
  padding-bottom: 1.5rem;
}

.contagion__prg {
  display: flex;
  justify-content: center;
}

.contagion__p {
  max-width: 50ch;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 190%;
  text-transform: capitalize;
  color: #4b4f51;

  margin-left: -5rem;
}

.contagion__cards {
  margin-bottom: 5.5rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contagion__card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
    margin-top: 2rem;
  width: 460px;
  height: 575px;
  background: #ffffff;
  box-shadow: 0px 35px 87px rgba(0, 0, 0, 0.11);
  border-radius: 10px;
}

.contagion__cardImg {
  width: 269.5px;
  height: 249px;
}

.contagion__card-h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 2.3rem;
  text-transform: capitalize;
    padding-top: 4.5rem;
      color: #035755;
}

.contagion__card-p {
    font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 185%;
max-width: 50ch;
text-align: center;
text-transform: capitalize;
padding: 1.3rem;
color: #4B4F51;
}

.card1 {
    border-bottom: 5px solid #FA5652;
}

// @media all and (max-width: 1000px) {
//     .contagion__cards {
      
//         display: flex;
//         justify-content: space-evenly;
//         flex-direction: column;
//         align-items: center;
//       }
// }
