.symptoms__p {
  max-width: 71ch;
}

.symptoms__h3,
.symptoms__h1 {
  margin-left: -7rem;
}

@media all and (max-width: 1067px) {
  .contagion__heading {
    margin-top: 12.5rem;
    margin-left: 5rem;
    margin-bottom: 5rem;
  }
  .symptoms__p {
    max-width: 55ch;
  }
  .symptoms__h3,
  .symptoms__h1 {
    margin-left: 0rem;
  }
}

.symptoms__img {
    margin-bottom: 3rem;
}




