* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-margin-top: 100px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 15px;
  vertical-align: baseline;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size: inherit;
  vertical-align: inherit;
}

img {
  max-width: 100%;
  width: 100%;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

p {
  margin: 0;
}

.container__btn {
  background: #C08D5D;
  border: 2px solid #fffaf3a4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 147.6%;
  padding: 1rem;
  cursor: pointer;
  letter-spacing: 0.06em;
  color: #fff;
  width: 190px;
  height: 70px;
}

.header__logo {
  width: 26px;
  height: 26px;
  position: absolute;
  left: 60px;
  top: 40px;
}

.nav__order {
  margin-left: 16rem;
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 27px;
  margin-left: -13rem;
  color: #000000;
}

.nav__active {
  color: #C08D5D;
  font-style: normal;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 27px;
}

.nav__treeLogo {
  width: 38.64px;
  height: 59px;
}

.nav__middleTree {
  margin-left: -11rem;
  margin-right: 2rem;
}

@media all and (max-width: 1040px) {
  .nav__order {
    margin-left: 5rem;
  }
  .nav__list {
    margin-left: -13rem;
  }
}

@media all and (max-width: 965px) {
  .nav__order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 1.3rem;
  }
  .nav__order .nav__list {
    padding-top: 1rem;
  }
}

@media all and (max-width: 400px) {
  .header__logo {
    display: none;
  }
}

.container {
  background: #fffaf3;
  margin-top: 3em;
  width: 90%;
  margin-left: 4rem;
  padding: 5rem 7rem 7rem 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 67px;
  /* identical to box height */
  letter-spacing: 0.06em;
  color: #3f4042;
}

.container__treeImg {
  width: 30.52px;
  height: 50.82px;
}

.container__h1 {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 93px;
  letter-spacing: 0.06em;
  color: #3f4042;
}

.container__lineImg {
  width: 195px;
  height: 24.03px;
}

.container__p {
  margin-top: 2rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 147.6%;
  letter-spacing: 0.06em;
  color: #3f4042;
  padding-bottom: 2rem;
  max-width: 50ch;
}

.container__img {
  margin-top: -5rem;
  margin-left: -4rem;
  width: 660px;
  height: 755px;
  background: url(../../img/grapes.svg);
}

@media all and (max-width: 1400px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container__img {
    margin-top: 3rem;
  }
}

@media all and (max-width: 430px) {
  .container {
    margin-left: 0rem;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */