// flexbox

@mixin flex ($rowAlignments, $columnAlignments, $direction, $wrap) {
    display: flex;
    justify-content: $rowAlignments;
    align-items: $columnAlignments;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin alignSelf ($single-ColumnAlignment) {
    align-self: $single-ColumnAlignment;
}